html, body {
  font-family: 'Roboto', sans-serif;

}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 2px;
}

h2 {
  font-weight: 400;
  font-size: 4rem;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
  color: #0e5eab;
}

h5 {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #3973a1;
  border-color: #1c608a;
  padding: 5px 30px;
}

.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus {
  background-color: #09571a !important;
  border-color: #66c4e0 !important;
}

.title-underline{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #fff, #0e5eab, #fff);
  max-width: 350px;
  margin-bottom: 50px;
}

.fragment {
  padding: 100px 0;
}

.fragment-one {
  background-color: #0e0a06;
  color: #82f0c2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.fragment-one h1 {
  margin: 50px 0;
}

.fragment-one h3 {
  margin: 50px 0;
}

.fragment-one p, .fragment-two p {
  margin-bottom: 0;
}

.fragment-one i {
  margin-bottom:30px;
}

.fragment-two {
  background-color: #110d07;
  color: #3797cf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.fragment-two h5 {
  margin: 50px 0;
  font-weight: 300;
  line-height: 1.3;
}

.fragment-two p, .fragment-two i {
  color: #0e5eab
}

.fragment-three {
  background-color: #ffffff;
  color: #0e5eab;
}

.fragment-three .carousel {
  max-width: 800px;
}

.fragment-three .carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.fragment-three .carousel-caption {
  color: #0e5eab
}

.fragment-three .custom-indicator {
  background-color: #049b31 !important;
}

.fragment-four {
  background-color: #080201;
  color: #0e5eab;
}

.fragment-four i {
  color: #40f812;
}

.fragment-four .labels {
  color: #657b83;
  margin: 10px;
  text-align: center;
  min-width: 70%;
  background: rgba(255,255,255,0.7)
}

.fragment-four .tech {
  padding: 0.8em;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #eee;
  font-size: 1.2rem;
  margin: 0;
}
.fragment-four .tech:hover {
  transition-duration: 0.3s;
  background: rgba(255,255,255,1)
}


.fragment-five {
  background-color: #8d867e;
  padding: 50px;
  color: #0a55ac;
  text-align: center; 
}


.fragment-five h5 {
  font-weight: 300;
  line-height: 1.3;
}

.fragment-five .credential {
  color: #999;
  margin-bottom: 50px;
  font-weight: 300;
}

.fragment-six {
  padding: 20px;
}

.fragment-six h6 {
  color: #09618a;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 20px;
  /* letter-spacing: 2px; */
}
.fragment-six .social-icon {
  color: #0e5eab;
  font-size: 1.2rem;
  margin-right: 15px;
  margin-bottom: 20px;
}

.fragment-six .copyright {
  margin: 10px 0;
  font-size: 0.8rem;
}

.carousel {
  /* any dimensions are fine, it can be responsive with max-width */
  width: max-width;
  /* height: 350px; */
}

.carousel-inner {
  /* make sure your .items will get correct height */
  height: 100%;
}

.item {
  background-size: cover;
  /* background-position: 50% 50%; */
  width: 100%;
  height: 100%;
}

.item img {
  visibility: hidden;
}

/*add some frame for carousel*/
.carousel .item img {
  left: -9999px;  /*important */
  right: -9999px;  /*important */
  margin: 0 auto;  /*important */
  max-width: none;  /*important */
  min-width: 100%;
  position: absolute;
}